# Dictionaries

we have learned about "sequences" in the previous session. Now, let's Switch the gears and learn about "mappings"in python. these dictionaries are nothing but hash tables in other programming languages.
    In this section, we will learn briefly about an introductionto dictionaries and what it consists of:
                        1) Constructing a Dictionary
                        2) Accessing objects from a dictionary
                        3) Basic Dictionary Methods.
Before we dive deep in to this concept, let's understand what are Mappings?

    Mappings are a collections of objects that are stored by a "Key" unlike a sequence, mapping store objects by there relative position. This is an important distinction since mappings won't retain the order since they have objects defined by a key.
    
A python dictionary consists of a key and then an associated value. that value can be almost any python object.

# Constructing  a  Dictionary

##

 Let's see how we can construct dictionaries to get a better understanding of how they work!

In [1]:
my_dict = {'key1':'value','key2':'value2'}

In [2]:
my_dict

{'key1': 'value', 'key2': 'value2'}

In [3]:
#call values by there key
my_dict['key2']

'value2'

Notice that dictionaries are very flexible in the data types they can hold. For example:

In [4]:
my_dict = {'roll_number':123,'marks':[78,85,95],'subject':['computer','science','maths']}
my_dict['subject']
my_dict['marks']

[78, 85, 95]

In [5]:
my_dict['subject']

['computer', 'science', 'maths']

In [6]:
my_dict['marks'][0] = my_dict['marks'][0]+15

In [7]:
my_dict

{'roll_number': 123,
 'marks': [93, 85, 95],
 'subject': ['computer', 'science', 'maths']}

In [8]:
my_dict['subject'][0].upper()

'COMPUTER'

In [9]:
my_dict['marks'][1] += 10

In [10]:
my_dict

{'roll_number': 123,
 'marks': [93, 95, 95],
 'subject': ['computer', 'science', 'maths']}

In [11]:
my_dict['marks']

[93, 95, 95]

In [12]:
my_dict['year'] = '3rd'
my_dict

{'roll_number': 123,
 'marks': [93, 95, 95],
 'subject': ['computer', 'science', 'maths'],
 'year': '3rd'}

In [13]:
my_dict.update({'roll_number' : 100})
my_dict

{'roll_number': 100,
 'marks': [93, 95, 95],
 'subject': ['computer', 'science', 'maths'],
 'year': '3rd'}

In [14]:
my_dict.keys()

dict_keys(['roll_number', 'marks', 'subject', 'year'])

In [15]:
my_dict.values()

dict_values([100, [93, 95, 95], ['computer', 'science', 'maths'], '3rd'])

In [16]:
my_dict.items()

dict_items([('roll_number', 100), ('marks', [93, 95, 95]), ('subject', ['computer', 'science', 'maths']), ('year', '3rd')])

In [17]:
my_dict.copy()

{'roll_number': 100,
 'marks': [93, 95, 95],
 'subject': ['computer', 'science', 'maths'],
 'year': '3rd'}

# End of Dictionaries

In [18]:
captains={}

In [23]:
captains

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [19]:
captains = {dict}

In [33]:
 captains = {
 "Enterprise": "Picard",
 "Voyager": "Janeway",
 "Defiant": "Sisko",
 "Discovery": "unknown",
}

In [34]:
print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko', 'Discovery': 'unknown'}

In [24]:
 for captain, ship in captains.items():
  print(f"The {ship} is captained by {captain}.")

The Picard is captained by Enterprise.
The Janeway is captained by Voyager.
The Sisko is captained by Defiant.

In [27]:
 for item in captains.items():
  print(f"The [ship] is captained by [captain].")

The [ship] is captained by [captain].
The [ship] is captained by [captain].
The [ship] is captained by [captain].

In [26]:
for ship, captain in captains.items():
 print(f"The {ship} is captained by {captain}.")

The Enterprise is captained by Picard.
The Voyager is captained by Janeway.
The Defiant is captained by Sisko.

In [28]:
for ship in captains:
 print(ship, captains)

Enterprise {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Voyager {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}
Defiant {'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [31]:
for ship in captains:
 print(ship, captains[ship])

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [32]:
for ship, captain in captains.items():
 print(ship, captain)

Enterprise Picard
Voyager Janeway
Defiant Sisko

In [36]:
del captains["Discovery"]

In [37]:
print(captains)

{'Enterprise': 'Picard', 'Voyager': 'Janeway', 'Defiant': 'Sisko'}

In [41]:
print(4**3 + (7 + 5)**(1 + 1))

208

In [43]:
set1 = {14, 3, 55}
set2 = {82, 49, 62}
set3 ={99,22,17}
print(len(set1 + set2 + set3))

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [44]:
 numbers = (4, 7, 19, 2, 89, 45, 72, 22)
sorted_numbers = sorted(numbers)
even = lambda a: a % 2 == 0
even_numbers = filter(even, sorted_numbers)
print(type(even_numbers))

<class 'filter'>

In [45]:
def func(a, b):
 return b if a == 0 else func(b % a, a)
print(func(30, 75))

15